.list-card::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #f6c90e;
    top: -20%;
    left: -50%;
    z-index: 0;
}
::-webkit-scrollbar {
    display: none;
}

.list-card {
    background-color: #fff;
    box-sizing: border-box;
    width: 360px;
    height: 600px;
    box-shadow: 0 3.2px 2.2px rgb(0 0 0 / 2%), 0 7px 5.4px rgb(0 0 0 / 3%),
        0 12.1px 10.1px rgb(0 0 0 / 4%), 0 19.8px 18.1px rgb(0 0 0 / 4%),
        0 34.7px 33.8px rgb(0 0 0 / 5%), 0 81px 81px rgb(0 0 0 / 7%);
    border-radius: 30px;
    overflow: hidden;
    padding: 0 28px;
    position: relative;
    margin-bottom: 20px;
}
.list-card-title {
    font-size: 24px;
    font-weight: 700;
    position: relative;
}
.list-card-top {
    margin: 12px 0;
    position: relative;
}
.card-top-logo {
    width: 50px;
    display: block;
}
.list-card-container {
    height: calc(100% - 98px);
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .list-card {
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    .list-card {
        width: 100%;
    }
}
@media (min-width: 320px) and (max-width: 420px) {
    .list-card {
        padding: 0 20px;
    }
}
