.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
  color: #303841;
  font-family: Rubik, sans-serif;
}
.app::before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  animation: 0.2s ease-in-out infinite alternate;
}
@media (min-width: 768px) {
  .app {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .app {
    padding: 0;
  }
}
